.usa-display,
.usa-display-alt,
h1,
h2,
h3,
h4,
h5,
h6,
.usa-font-lead {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.usa-grid-small {
  margin-top: 4em;
  padding-bottom: 4em;
  max-width: 450px;
}

.usa-form {
  max-width: 450px;
}

.beta-banner .usa-alert-heading {
  text-transform: none;
}

.beta-banner .usa-alert {
  margin-top: 0;
  padding: 3rem;
}

.beta-banner .usa-alert p {
  margin: 0;
}

.usa-alert-heading {
  text-transform: capitalize;
}

.bg-color-hmda-gray {
  background-color: #f7f7f7;
}

.usa-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d6d7d9;
}

.usa-navbar {
  height: auto;
}

.usa-nav {
  padding-top: 0;
}

.usa-nav.usa-nav-left {
  display: inline-block;
  float: none;
  padding-left: 3em;
}

.usa-logo {
  line-height: 0;
}

.usa-logo a:hover {
  color: #222222;
}

.usa-logo .usa-logo-text {
  font-size: 2.15rem;
  font-weight: normal;
}

.usa-logo .usa-logo-text img {
  margin-right: .5em;
  vertical-align: bottom;
}

.usa-header-basic .usa-logo {
  bottom: 0;
  font-weight: bold;
  margin-top: 3px;
  position: relative;
}

.usa-banner-inner {
  padding-top: .25em;
  padding-bottom: .25em;
  max-width: 100%;
}

.usa-nav-container {
  padding-top: .5em;
  padding-bottom: .5em;
  max-width: 100%;
}

.usa-nav-primary>li>a {
  color: #212121;
  font-size: 1.3rem;
  margin: 1.3rem 1.5rem 1rem;
  padding: 0;
  text-transform: uppercase;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 120px;
}

.usa-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.usa-footer .usa-nav-link {
  color: #222222;
  font-size: .9em;
  text-decoration: none;
}

.usa-footer .usa-nav-link img {
  margin-right: 5px;
  vertical-align: top;
}

.usa-alert {
  width: 100%;
}

.usa-alert-info,
.usa-alert-error,
.usa-alert-info,
.usa-alert-warning {
  background-image: none;
}

.usa-alert-body {
  padding-left: 0;
}

.usa-alert-body p:first-child {
  margin-top: 0;
}

.usa-alert p {
  margin: 0;
}

.usa-alert-error p:not(.usa-alert-text) {
  margin-top: 1em;
}

.usa-alert li[data-validator] {
  margin-bottom: 0;
}

#validation_list > li {
  position: relative;
  list-style: none;
}

#validation_list img {
  display: none;
  position: absolute;
  height: 18px;
  width: 18px;
  left: -22px;
  bottom: 5px;
}

#validation_list > li.complete > .check {
  display: inline;
}

#validation_list > li.missing > .missing {
  display: inline;
}

.padding-1 {
  padding: 1em;
}

.margin-bottom-1 {
  margin-bottom: 3em;
}

.margin-top-0 {
  margin-top: 0;
}

.usa-unstyled-list label {
  margin: .2em;
}

fieldset fieldset legend {
  font-size: 1.7rem;
  font-weight: normal;
}

#institutions dl {
  margin-top: 0;
  margin-left: 2.3em;
}

#institutions dd,
#institutions dt {
  display: inline;
}

#institutions dt {
  font-weight: 700;
}

#institutions dd {
  margin-left: .5em;
}

#institutions dd:after {
  content: '\A';
  white-space: pre-wrap;
}

.usa-input-help-message {
  color: inherit;
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 3px;
}

.usa-input-error-message {
  display: none;
}

.hmda-error-message {
  color: #dc2026;
  font-weight: 700;
  padding: 3px 0;
}

.LoadingIconWrapper {
  -webkit-transform: rotateX(180deg);
  width: 3em;
  margin: 0 auto;
  transform: rotateX(180deg);
}

.LoadingIcon {
  width: 3em;
  animation: loading-spin 2s infinite linear;
}

@-webkit-keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}
