keycloak:
  realms:
    - realm: hmda
      enabled: true
      sslRequired: external
      registrationAllowed: true
      registrationEmailAsUsername: true
      rememberMe: false
      verifyEmail: false
      loginTheme: hmda
      clients:
        - clientId: hmda-apis 
          surrogateAuthRequired: false
          enabled: true
          clientAuthenticatorType: client-secret
          rootUrl: null
          baseUrl: 'http://192.168.99.100:3000'
          redirectUris:
            - 'http://192.168.99.100:3000'
            - 'http://192.168.99.100:3000/*'
          webOrigins:
            - 'http://192.168.99.100:3000'
          notBefore: 0
          bearerOnly: false
          consentRequired: false
          standardFlowEnabled: false
          implicitFlowEnabled: true
          directAccessGrantsEnabled: false
          serviceAccountsEnabled: false
          publicClient: true
          frontchannelLogout: false
          protocol: openid-connect
          protocolMappers:
            - name: institutions
              protocol: openid-connect
              protocolMapper: oidc-usermodel-attribute-mapper
              consentRequired: false
              config: 
                access.token.claim: true
                claim.name: institutions
                id.token.claim: true
                jsonType.label: String
                user.attribute: institutions
              
apiman:
  gateways:
    - id: TheGateway
      name: The Gateway
      description: This is the gateway
      type: REST
      configuration:
        endpoint: 'https://192.168.99.100/apiman-gateway-api'
        # Default username/password
        username: 'apimanager'
        password: 'apiman123!'
  plugins:
    - groupId: io.apiman.plugins
      artifactId: apiman-plugins-cors-policy
      version: 1.2.7.Final
    - groupId: io.apiman.plugins
      artifactId: apiman-plugins-keycloak-oauth-policy
      version: 1.2.7.Final
  organizations:
    - name: hmda
      description: All-things-HMDA
      apis:
        - name: hmda-platform
          description: 'HMDA Platform API'
          versions:
            - version: v1
              endpoint: 'http://192.168.99.100:8080'
              endpointType: rest
              endpointContentType: json
              publicAPI: true
              policies:
                - definitionId: cors-policy
                  configuration:
                    errorOnCorsFailure: true
                    allowOrigin:
                      - 'http://192.168.99.100:3000'
                    allowCredentials: false
                    exposeHeaders: []
                    allowHeaders:
                      - Authorization
                      - Accept
                    allowMethods:
                      - DELETE
                      - GET
                      - HEAD
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                    maxAge: 600
                - definitionId: keycloak-oauth-policy
                  configuration:
                    requireOauth: true
                    requireTransportSecurity: true
                    blacklistUnsafeTokens: false
                    stripTokens: false
                    realm: 'http://192.168.99.100/auth/realms/hmda'
                    realmCertificateString: null 
                    forwardRoles: 
                      active: false
                    delegateKerberosTicket: false
                    forwardAuthInfo:
                      - headers: CFPB-HMDA-Institutions
                        field: institutions
                      - headers: CFPB-HMDA-Username
                        field: preferred_username
            - version: noauth 
              endpoint: 'http://192.168.99.100:8080'
              endpointType: rest
              endpointContentType: json
              publicAPI: true
              policies:
                - definitionId: cors-policy
                  configuration:
                    errorOnCorsFailure: true
                    allowOrigin:
                      - 'http://192.168.99.100:3000'
                    allowCredentials: false
                    exposeHeaders: []
                    allowHeaders:
                      - Authorization
                      - Accept
                    allowMethods:
                      - DELETE
                      - GET
                      - HEAD
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                    maxAge: 600

